@media screen and (max-width: 991px) {
    .navbar__logo {
        gap: 0.3rem;
    }
    .navbar__logo .logo__image {
        width: 1.8rem;
        height: 1.8rem;
    }
    .navbar__logo .logo__text {
        font-size: 1.8rem;
    }
    .navbar__search-wrapper .search__input {
        max-width: 17.38rem;
    }
    .header {
        margin-top: 2.7rem;
    }
    .header__title {
        font-size: 1.5rem;
    }

    .filter-button-wrapper {
        gap: 0.8rem;
    }

    .task-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.8rem;
    }

    .task__title,
    .task__title--blank {
        font-size: 1.2rem;
    }

    .task__button-wrapper {
        width: 88%;
        left: 6.5%;
    }
    .success-message,
    .error-message {
        padding: 0.96rem 2.1rem;
        top: 5.4rem;
        width: 60%;
    }
}
@media screen and (max-width: 767px) {
    .success-message,
    .error-message {
        align-items: flex-start;
    }
}
@media screen and (max-width: 480px) {
    .flex-between {
        flex-direction: column;
        align-items: baseline;
        row-gap: 1rem;
    }
    .task-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .navbar__search-wrapper {
        width: 100%;
        justify-content: space-between;
    }
    .navbar__search-wrapper .search__input {
        order: 2;
        max-width: 19rem;
        height: 1.9rem;
    }
    .navbar__search-wrapper .search__button {
        height: 1.9rem;
    }

    .header__button-icon {
        width: 0.8rem;
        height: 0.8rem;
    }

    .task__button-wrapper {
        width: 90%;
        left: 5%;
    }

    .success-message,
    .error-message {
        padding: 0.96rem 1.7rem;
        width: 80%;
        top: 8rem;
    }
}
