* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-size: 16px;
    font-weight: 500;
    background-color: $violet-color-v50;
}

.container {
    width: 90%;
    max-width: 1400;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;

    &-between {
        @extend .flex;
        justify-content: space-between;
    }
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-weight: 700;
}
